[submodule "tt-multiplexer"]
	path = tt-multiplexer
	url = https://github.com/TinyTapeout/tt-multiplexer/
[submodule "tt"]
	path = tt
	url = https://github.com/TinyTapeout/tt-support-tools
[submodule "IHP-Open-PDK"]
	path = IHP-Open-PDK
	url = https://github.com/TinyTapeout/IHP-Open-PDK
[submodule "librelane"]
	path = librelane
	url = https://github.com/TinyTapeout/librelane
